<body>


    <div class="container col-md-4 mx-auto">
        <h2>Listas de Asistencia</h2>
        {{!-- <div class="col-4"> --}}

            {{!--
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    ...</div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...
                </div>
            </div>
        </div> --}}



        <form action="/asistencia/registrar" method="post">
            {{!-- <select class="list-group" name="lista_id" size="3" required> --}}
                <!-- Opciones de la lista -->
                {{!-- {{#each listas}} --}}
                {{!-- <option class="list-group-item" value="{{this.id}}">{{this.fecha}}</option> --}}
                {{!-- <option value="2" selected>Opci칩n 2</option> <!-- Opci칩n por defecto -->
                <option value="3">Opci칩n 3</option> --}}
                {{!-- {{/each}} --}}
                {{!--
            </select> --}}

            <div class="form-group">
                <label for="fecha">Seleccione la fecha de la lista</label>
                <input type="date" id="fecha" name="fecha" value="2020-01-01" min="2020-01-01" max="2020-12-31">
            </div>


            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th scope="col">propietario</th>
                        <th scope="col">puesto</th>
                        <th scope="col">sector</th>
                        <th scope="col">asistencia</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each detalles}}
                    <tr scope="row">
                        <td>{{this.apPaterno}} {{this.nombre}}</td>
                        <td>{{this.cod }}</td>
                        <td>{{this.sector}}</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="{{this.cod}}">
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary btn-block">registrar</button>
        </form>

        <hr>

        <h4>Listas de Asistencia pasadas</h4>
        <table class="table table-inverse table-responsive">
            <thead>
                <tr>
                    <th scope="col">dia</th>
                    <th scope="col">mes</th>
                    <th scope="col">a침o</th>
                    <th scope="col">asistencia</th>
                </tr>
            </thead>
            <tbody>
                {{#each listas}}
                <tr scope="row">
                    {{!-- <td>{{dateFormat this.fecha "dddd, MMMM Do YYYY, h:mm:ss a"}}</td> --}}
                    <td>{{dateFormat this.fecha "dddd D"}}</td>
                    <td>{{dateFormat this.fecha "MMMM"}}</td>
                    <td>{{dateFormat this.fecha "YYYY"}}</td>
                    <td>
                        <form method="POST" action="/asistencia/editar?_method=DELETE" style="display: inline-block;">
                            <input type="hidden" name="_method" value="POST">
                            <input type="hidden" name="idLista" value="{{this.id}}">
                            <input type="hidden" name="fecha" value="{{this.fecha}}">
                            <button type="submit" class="btn btn-secondary">detalle</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>



</body>